node_modules/
cache/
artifacts/
typechain-types/
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat local node deployments
contracts/deployments/localhost/

.DS_Store
dist
dist-ssr
*.local
