node_modules
cache/
artifacts/
typechain-types/
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# vitest coverage files
/webapp/coverage/
/webapp/coverage-*/

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

.DS_Store
dist
dist-ssr
*.local
