VALIDATOR_PK_SEED=type some random stuff here as entropy ;D

# Set validator params
SUPPORTED_PAYMASTER=0xA878AF6499fD3B6dAf4aAc1f768DE04aB7812AF2
SUPPORTED_CHAIN_ID=100
SUPPORTED_ENTRYPOINT=0x4337084D9E255Ff0702461CF8895CE9E3b5Ff108
SUPPORTED_HARBOUR=0x7E299130D19bd0F3D86718d389a4DEF957034189
HARBOUR_RPC=https://gnosis.drpc.org
BUNDLER_RPC=https://public.pimlico.io/v2/100/rpc
# BUNDLER_RPC=https://api.candide.dev/public/v3/100

# Validator debug setting
# DEBUG=waku*,libp2p*